<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gradient Boosting Regressor </title>
</head>
<body>

<h1>Predicting using Gradient boosting regressor algorithm</h1>

<form id = 'form' >
    {% csrf_token %}
    <input type = 'number' name = 'MedInc' id = 'MedInc' placeholder="Enter Medium income of block group" >
    <input type = 'number' name = 'HouseAge' id = 'HouseAge' placeholder="Enter house age of block group" >
    <input type = 'number' name = 'AveRooms' id = 'AveRooms' placeholder="Enter average number of rooms per household" >
    <input type = 'number' name = 'AveBedrms' id = 'AveBedrms' placeholder="Enter average number of bedrooms per household" >
    <input type = 'number' name = 'Population' id = 'Population' placeholder="Enter population of block group" >
    <input type = 'number' name = 'AveOccup' id = 'AveOccup' placeholder="Enter average occupation per household" >
    <input type="number" name="Latitude" id = 'Latitude' placeholder="Enter Longitude of block group" >
    <input type="number" name="Longitude" id = 'Longitude' placeholder="Enter Latitude of block group" >
</form>

<button type = 'button' onclick="sendDatagrad()">Predict</button>
<h2 id="result"></h2>
<script>
    function sendDatagrad()
 {

       const fields = ['MedInc',
                       'HouseAge',
                       'AveRooms',
                       'AveBedrms',
                       'Population',
                       'AveOccup',
                       'Latitude',
                       'Longitude'
                       ];
       const formData = new FormData();

       fields.forEach((field) => {
       formData.append(field, document.getElementById(field).value);   })

       const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

       fetch("{% url 'predict_gradient' %}" ,{
       method: 'POST',
       headers: {
       'X-CSRFToken': csrfToken},
       body: formData,
       credentials: 'same-origin'
       })
       .then((response) => response.json())
       .then((data) => {
                  const price_gradient = (data.result * 100000).toFixed(2);
                  document.getElementById('result').innerHTML = "Estimated Price $ " +price_gradient;
                  })
                  .catch((error) => console.log("Error",error));


}
</script>

</body>
</html>